.headcontainer {
  top: 0;
  left: 0;
  width: 100%;
  height: 15%;
  flex-direction: column; /* 컨테이너를 세로 방향으로 배치 */
  position: fixed;
  z-index: 100;
}

.headtable-1 {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center; /* 세로 중앙 정렬 */
}

.headtable-2,
.headtable-3 {
  flex: 1;
  width: 100%;
  height: 100%;

  background-color: rgba(255, 255, 255, 0.6);
}

.headtable-3 {
  text-align: right;
  justify-content: right; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  height: 100%; /* 내부 요소를 수직으로 가운데 정렬 */
}

.headtable-0 {
  width: 100%;
  height: 60%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.headtable-4 {
  flex: 1;
  background-color: rgba(49, 80, 116, 0.6);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headsfont {
  font-size: 9px;
  color: #0f5cb4;
  font-weight: 600;

  text-align: right;
  text-decoration: none;
  padding-right: 30px; /* 원하는 간격 값으로 수정하세요 */
}

.headmfont {
  font-size: 15px;
  color: #0f5cb4;
  font-weight: 600;

  padding-right: 20px; /* 원하는 간격 값으로 수정하세요 */
}
.headhfont {
  font-size: 11px;
  text-align: right;
  color: #0f5cb4;
  font-weight: 600;

  text-decoration: none;
  padding-right: 30px; /* 원하는 간격 값으로 수정하세요 */
}

.headhfont1 {
  font-size: 17px;
  text-align: right;
  color: #ffffff;
  font-weight: 600;

  text-decoration: none;
  padding-right: 30px; /* 원하는 간격 값으로 수정하세요 */
}

.headrow-center {
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  height: 100%; /* 내부 요소를 수직으로 가운데 정렬 */
}
.headrow-left {
  display: flex;
  justify-content: left; /* 가로 중앙 정렬 */
}
.headrow-right {
  display: flex;
  justify-content: right; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  height: 100%; /* 내부 요소를 수직으로 가운데 정렬 */
}

.headcell {
  padding: 15px;
}
.headcell a.headhfont1:hover {
  color: black;
  text-decoration: underline; /* 밑줄 추가 */
}
.headcell a.headhfont:hover {
  color: black;
  text-decoration: underline; /* 밑줄 추가 */
}
.headcell:nth-child(1) a:hover img {
  content: url('/data/MLcl.png');
}
.headtr10 {
  height: 10px;
}
.headtr20 {
  height: 20px;
}
.headtr30 {
  height: 30px;
}
.headtr40 {
  height: 40px;
}
