@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Noto Sans KR', sans-serif;
}
.header {
  /* 헤더 스타일 */
  width: 100%;
  top: 0;
  left: 0;
  margin-bottom: 15%;
}
.footer {
  width: 100%;
  height: 40%; /* 조금 더 큰 높이로 조정 */

  bottom: 0;
  left: 0;
  margin-top: 15%;
}

/* joinForm.jsp . joinProc.jsp*/
.joinlist {
  width: 40%;
  height: 40px; /* 조금 더 큰 높이로 조정 */
  text-align: center;
  border: 1px solid #e3e3e3;
  background-color: #e3e3e3;
  font-size: larger;
  line-height: 40px; /* 텍스트 세로 중앙 정렬을 위해 추가 */
}

#btn {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #5a5b5e;
  width: 120px; /* 버튼 너비 조정 */
  height: 50px; /* 버튼 높이 조정 */
  border: none;
  border-radius: 1em;
  font-size: medium;
  color: white;
  cursor: pointer; /* 마우스 커서 모양 변경 */
  transition: background-color 0.3s, color 0.3s; /* 부드러운 효과 추가 */
}

#btn:hover {
  background-color: #f1ebd5;
  color: #5a5b5e;
}

/* joinForm.jsp에만 적용 */
.joinform {
  margin-top: 50px;
  margin-bottom: 90px;
  height: 700px;
  width: 40%;
  background: #dbdadb;
  text-align: center;
  border-radius: 1em;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  color: #f15252;
  font-size: 48px; /* 조금 더 큰 폰트 사이즈로 변경 */
  font-weight: bold;
}

#comment {
  height: 15%;
  padding-top: 30px;
}

input {
  height: 25px;
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  border-bottom: #9f8a7b 1px solid;
  font-size: larger;
}

#list1 {
  border: 1px solid #e3e3e3;
  background-color: #5a5b5e;
  color: #ffffff;
  font-weight: 900;
}

#list2 {
  border: 1px solid #e3e3e3;
  background-color: #ffffff;
  color: #382f24;
}

/*joinProc.jsp에만 적용 */
.joinFinish {
  margin-top: 80px;
  margin-bottom: 90px;
  height: 30%;
  width: 40%;
  background: #f1ebd5;
  text-align: center;
  border-radius: 1em;
}

#list3 {
  border: 1px solid #e3e3e3;
  background-color: #ffffff;
  color: #382f24;
}

#list4 {
  border: 1px solid #e3e3e3;
  background-color: #382f24;
  color: #ffffff;
  font-weight: 900;
}

#btnProc {
  margin-top: 50px;
  background-color: #382f24;
  width: 130px;
  height: 70px;
  border: none;
  border-radius: 1em;
  font-size: large;
  color: #f1ebd5;
}

/*idCheck.jsp에만 적용 */
#btnID {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #382f24;
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 1em;
  font-size: small;
  color: #f1ebd5;
}

#idCheck {
  height: 25px;
  margin-left: 40px;
  border-bottom: #9f8a7b 1px solid;
  font-size: small;
}
