@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Noto Sans KR', sans-serif;
}
.header {
  /* 헤더 스타일 */
  width: 100%;
  top: 0;
  left: 0;
  margin-bottom: 10%;
}
.footer {
  width: 100%;
  bottom: 0;
  left: 0;
  margin-top: 5%;
}
.table {
  margin-top: 5%;
}
.wrapper {
  width: 100%; /* 너비 */
  height: 100%;
  margin: 0 auto; /* 화면 중앙에 배치 */
  position: relative; /* 슬라이드 위치를 잡기 위해 */
  text-align: center; /* 슬라이드를 화면 중앙에 배치 */
}

#container {
  width: 100%; /* 너비 */
  height: 100%;
  position: absolute;
}
#container > img {
  width: 100%; /* 너비 */
  height: 100%; /* 각 이미지의 스타일 */
  float: left; /* 왼쪽부터 배치 */
}
#container > button {
  position: absolute; /* 배치 방법 : absolute */
  height: 100%; /* 버튼 높이를 슬라이드 영역에 꽉 채움 */
  top: 0; /* 위로 바짝 붙여서 배치 */
  border: none; /* 테두리 없음 */
  padding: 20px; /* 패딩 20px */
  background-color: transparent; /* 투명 배경 */
  color: #c42929; /* 화살표 색 */
  font-weight: 1000; /* 진하기 */
  font-size: 80px; /* 화살표 크기 */
  opacity: 1; /* 불투명도 */
}

#prev {
  left: 50%; /* 왼쪽으로 바짝 붙여서 배치 */
}
#next {
  right: 50%; /* 오른쪽 바짝 붙여서 배치 */
}

.roominfo {
  width: 83%; /* 너비 */
  height: 30%;
  margin: 1% 9%; /* 화면 중앙에 배치 */
  font-size: xx-large;
  text-align: center;
}

.main {
  width: 83%; /* 너비 */
  height: 30%;
  margin: 1% 9%; /* 화면 중앙에 배치 */
  position: relative; /* 슬라이드 위치를 잡기 위해 */
  text-align: center; /* 슬라이드를 화면 중앙에 배치 */
}

#room {
  width: 100%; /* 너비 */
  height: 100%;
  position: absolute;
}

#room > img {
  width: 29%; /* 너비 */
  height: 100%; /* 각 이미지의 스타일 */
  float: left; /* 왼쪽부터 배치 */
  margin: 14px 2%;
}

.facilityinfo {
  margin-top: 90px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 83%;
  height: 17%;
  font-size: medium;
  text-align: center;
}

.main2 {
  width: 83%; /* 너비 */
  height: 50%;
  margin: 5px auto; /* 화면 중앙에 배치 */
  position: relative; /* 슬라이드 위치를 잡기 위해 */
  text-align: center; /* 슬라이드를 화면 중앙에 배치 */
}

#facility {
  width: 100%; /* 너비 */
  height: 60%;
  position: absolute;
}

#facility > img {
  width: 29%; /* 너비 */
  height: 100%; /* 각 이미지의 스타일 */
  float: left; /* 왼쪽부터 배치 */
  margin: 14px 2%;
}

/*login.jsp*/
.log {
  background: #dbdadb;
  margin: 5% auto;
  width: 470px;
  height: 400px;
  text-align: center;
  border-radius: 1em;
}

.log th {
  height: 120px;
  font-size: xx-large;
}

#input {
  height: 25px;
  float: left;
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  border-bottom: white 1px solid;
  font-size: larger;
}

#text {
  text-align: right;
  width: 23%;
}

#btn {
  margin-bottom: 26px;
  background-color: #382f24;
  width: 100px;
  height: 40px;
  border-radius: 1em;
  font-size: medium;
  color: #f1ebd5;
}
