@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Noto Sans KR', sans-serif;
}
.header {
  /* 헤더 스타일 */
  width: 100%;

  top: 0;
  left: 0;
  z-index: 100;
}

/*날짜/객실/옵션 선택 안내 table */
.reservelist1 {
  margin: 1% auto;
  width: 50%;
  height: 8%;
  text-align: center;
  border: 1px solid #e3e3e3;
  background-color: #c6ceeb;
  font-size: larger;
}

/*해당단계*/
#step1 {
  width: 33%;
  border: 1px solid #e3e3e3;
  background-color: #8db3e4;
  color: #ffffff;
  font-weight: 900;
}
/*해당하지 않는 단계*/
#step2 {
  width: 33%;
  border: 1px solid #e3e3e3;
  background-color: #faf1f1;
  font-weight: 900;
  color: #41618b;
}
/*날짜*/
#step3 {
  border: 1px solid #e3e3e3;
  background-color: #faf1f1;
  font-weight: 900;
  color: #41618b;
}

/*예약 날짜,인원 선택 table*/
.reserve1 {
  border-top: 2px solid #060481;
  box-shadow: 0 3px 6px -6px #666;
  height: 20%;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 30px;
}

/*예약 날짜,인원 선택 table 내의 input 태그 */
input {
  height: 20px;
  width: 60%;
  border: none;
  text-align: center;
  font-size: large;
  font-weight: bold;
}

/*reservation2.jsp 사용 */
.reserveResult {
  border-top: 1px solid #e3e3e3;
  border-collapse: collapse;
  padding: 1%;
  margin-bottom: 80px;
}

#line {
  border-bottom: 1px solid #e3e3e3;
  padding: 20px;
}

#btn2 {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #876f55;
  width: 110px;
  height: 45px;
  border: none;
  font-size: medium;
  color: #f1ebd5;
}

/*reservation3.jsp*/
.reserveOption {
  border-top: 1px solid #e3e3e3;
  border-collapse: collapse;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 80%;
  height: 600px;
}
